VITE_FIREBASE_API_KEY=AIzaSyDnGfOX2ypB2deyxCxF7INkRNwM2lZCKbk
VITE_FIREBASE_AUTH_DOMAIN=miniappquiz.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=miniappquiz
VITE_FIREBASE_STORAGE_BUCKET=miniappquiz.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=971097098091
VITE_FIREBASE_APP_ID=1:971097098091:web:52ce2ae75299e614ea2e2e
VITE_FIREBASE_MEASUREMENT_ID=G-9E2NT3ZWJQ
